<h1>Editing dtp minute</h1>

<%= render "form", dtp_minute: @dtp_minute %>

<br>

<div>
  <%= link_to "Show this dtp minute", @dtp_minute %> |
  <%= link_to "Back to dtp minutes", dtp_minutes_path %>
</div>
